[tool.poetry]
name = "cvxcovariance"
version = "0.0.0"             # Don't touch, leave at 0.0.0
description = "..."
authors = ["Kasper Johansson", "Thomas Schmelzer"]
readme = "README.md"
repository = "https://github.com/cvxgrp/cov_pred_finance"
packages = [{include = "cvx"}]

[tool.poetry.dependencies]
python = ">=3.9.0,<3.12"
pandas = "*"
cvxpy = "*"
scipy = "*"

[tool.poetry.group.test.dependencies]
pytest = "7.4.0"
pytest-cov = "4.1.0"
mock = "*"

[tool.poetry.dev-dependencies]
seaborn = "*"
arch = "*"
tqdm = "*"
scikit-learn = "*"
matplotlib = "*"
loguru = "*"
plotly = "*"
cvxsimulator = "*"
cvxbacktest = { git = "https://github.com/cvxgrp/cvxbacktest", branch = "main"}
cvxrisk = { git = "https://github.com/cvxgrp/cvxrisk", branch = "main"}
yfinance = "*"
statsmodels = "*"

[build-system]
requires = ["poetry>=1.0.2"]
build-backend = "poetry.masonry.api"

[tool.ruff]
select = ["E", "F", "I"]
line-length = 125
target-version = "py310"
exclude = [
    "*__init__.py",
    "experiments"
]
namespace-packages = ["cvx/covariance"]
