name: "ci"

on:
- push

jobs:
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        python-version: ['3.8', '3.9', '3.10', '3.11' ]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - uses: cvxgrp/.github/actions/test@main
        with:
          os: ${{ matrix.os }}
          python-version: ${{ matrix.python-version }}

      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v2
