name: pre-commit

on:
  pull_request:
  push:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: pre-commit/action@v3.0.0
      with:
        extra_args: '--verbose --all-files'

  test:
    runs-on: ubuntu-latest

    steps:
    - uses: cvxgrp/.github/actions/test@main

    # uncomment once the repo is public
    - name: Coveralls GitHub Action
      uses: coverallsapp/github-action@v2
      with:
        files: artifacts/tests/coverage/coverage.info
        format: lcov
